---
import Hero from '../components/Hero.astro';
import Timeline from '../components/Timeline.astro';
import Caracteristicas from '../components/Caracteristicas.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Servicios1 from '../components/Servicios1.astro';
import Navbar from '../components/Navbar.astro';
import Grid from '../components/Grid.astro';
---
<meta charset="UTF-8">

  <!-- Metaetiquetas y datos estructurados -->
  <head>
    <title>Altura creativa | Servicio integral para eventos</title>
    <meta name="description" content="Alquiler de equipo para eventos - servicios de sonorizacion - servicios de streaming.">
    <meta name="keywords" content="sonido en vivo, alquiler de equipos, backline, guitarras, bajos, mesa de mezclas, málaga, servicio para conferencias, conferencias, streaming de evento">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://alturacreativa.com">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Altura creativa | Servicio integral para eventos",
      "description": "Especialistas en sonido en vivo y backline. Impulsamos tu evento con estrategias personalizadas.",
      "url": "https://alturacreativa.com",
      "publisher": {
        "@type": "Organization",
        "name": "Altura creativa",
        "logo": {
          "@type": "ImageObject",
          "url": "https://alturacreativa/logo.png"
        }
      }
    }
    </script>
  </head>
  <Layout>
  <body>
    
  </body>
  <!-- Contenido de la página -->
  <main class="bg-white-50">
    <Navbar />
    <Hero />
    <section class="bg-transparent py-16" > 
      <div>
         
      </div>
    </section>
    <Grid />
    <Servicios1 />
    <Caracteristicas />
    <Timeline />
    <CTA />
  </main>
  <footer class="py-8 bg-white-900 text-white">
    <Footer />
  </footer>
</Layout>
