---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import App from "../components/App.astro";
import Card from "../components/Card.astro";

---
<section>
    <Navbar />
</section>

<section>
    <Card />
</section>

<Layout title="servicios">
    <App />
  