---
import Layout from "../layouts/Layout.astro";
import Hero2 from "../components/Hero2.astro";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import Equipo from "../components/equipo.astro";
---
<Layout>
  <section>
    <Hero2 />
  </section>
  <section>
    <Content />
  </section>
  <section>
    <Equipo />  
  </section>
  <section>
    <Footer />
  </section>