<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-xl">
      <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Conoce al líder detrás de nuestra visión</h2>
      <p class="mt-6 text-lg text-gray-600">David Nacro es el motor que impulsa a Altura Creativa. Como CEO y fundador, lidera con pasión y dedicación, guiando a nuestro equipo para ofrecer soluciones innovadoras y efectivas que transforman ideas en resultados.</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="flex items-center gap-x-6">
          <img class="size-16 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div>
            <h3 class="text-base font-semibold tracking-tight text-gray-900">David Nacro</h3>
            <p class="text-sm font-semibold text-indigo-600">CEO - Fundador</p>
            <p class="text-sm text-gray-500">David ha sido la fuerza motriz de Altura Creativa desde su creación, siempre enfocado en fomentar la innovación, la creatividad y la excelencia en todos nuestros proyectos.</p>
          </div>
        </div>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>
