<footer class="">
    <div class="w-full max-w-screen-xl mx-auto p-6 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <span class="self-center text-2xl font-semibold text-white hover:text-indigo-400 transition-all">
                    Altura Creativa LAB
                </span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-400 sm:mb-0">
                <li>
                    <a href="sobrenosotros" class="hover:text-indigo-400 transition-all duration-300">Sobre nosotros - </a>
                </li>
                <li>
                    <a href="privacy" class="hover:text-indigo-400 transition-all duration-300 me-4 md:me-6">- Política de privacidad</a>
                </li>
                <li>
                    <a href="Contacto" class="hover:text-indigo-400 transition-all duration-300">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-400 sm:text-center dark:text-gray-500">
            © 2024 <a href="https://alturacreativa.com/" class="hover:text-indigo-400 transition-all duration-300">Altura Creativa™</a>. Todos los derechos reservados.
        </span>
    </div>
</footer>
