<div class="relative bg-gray-800 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-gray-900">Trabajamos con las principales marcas de sonido</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-3 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6">
      <img class="col-span-1 max-h-12 w-full object-contain" src="https://download.logo.wine/logo/Fender_Musical_Instruments_Corporation/Fender_Musical_Instruments_Corporation-Logo.wine.png" alt="Fender" width="158" height="48">
      <img class="col-span-1 max-h-12 w-full object-contain" src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Behringer_Logo.png" alt="Behringer" width="158" height="48">
      <img class="col-span-1 max-h-12 w-full object-contain" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Shure_Logo_2024.svg/2560px-Shure_Logo_2024.svg.png" alt="Shure" width="158" height="48">
      <img class="col-span-1 max-h-12 w-full object-contain" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Yamaha_logo.svg/1024px-Yamaha_logo.svg.png" alt="Yamaha" width="158" height="48">
      <img class="col-span-1 max-h-12 w-full object-contain" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Sennheiser-Logo.svg/2560px-Sennheiser-Logo.svg.png" alt="Sennheiser" width="158" height="48">
      <img class="col-span-1 max-h-12 w-full object-contain" src="https://logonoid.com/images/akg-logo.png" alt="AKG" width="158" height="48">
    </div>
  </div>
</div>
