<nav class="bg-gray-900/70 backdrop-blur-xl border border-gray-400/70 rounded-full mx-auto mt-4 max-w-screen-lg fixed top-4 left-1/2 transform -translate-x-1/2 z-50 transition-all duration-900 shadow-lg">
  <div class="flex flex-wrap items-center justify-between px-8 py-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-1xl font-light tracking-wide text-white">Altura Creativa </span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" 
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-gray-300 rounded-full md:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-300 transition-colors" 
          aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Abrir menú</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="font-light flex flex-col md:flex-row p-4 md:p-0 mt-4 md:mt-0 md:space-x-6 rtl:space-x-reverse bg-gray-900/10 md:bg-transparent rounded-full">
            <li>

            </li>
              <li>
                  <a href="/" class="block py-2 px-5 text-white rounded-full transition-all duration-300 hover:bg-gray-900">Inicio</a>
              </li>
              
              </li>
          </ul>
      </div>
  </div>
</nav>
