---
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>

<html lang="en">

  <head>
    
    <Analytics />
    
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="rcHzNph6ZGKWgUTrvZc3913eeH_v1zsUW4nRi-khces" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Altura creativa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" />
  </head>
  <body class="antialiased bg-gray-50 text-gray-900 custom-bg">
   
    <main>
      <slot />
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js" defer></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .custom-bg {
    background: url() repeat;
    background-size: 200px 200px;
    background-color: #ffffff;
  }
</style>
